<div class="container">
    <div class="row">
        <div class="col-5">
            <%= render partial: "event", locals: {event: @event, is_show: false} %> 
            <% if @event.creator == current_user && !@event.over? %>
                <%= form_with url: event_invites_path(@event), method: :post do %>
                    <div class="input-group mt-3">  

                        <%= text_field_tag :invitee_username, "", placeholder: "Invite your friends", class: "form-control bg-dark text-light"%>
                        <div class="input-group-append">
                            <%= submit_tag "Invite", class: "btn btn-success"%>
                        </div>
                    </div>

                <% end %>
            <% end %>
        </div>
        <div class="col-7">
            <div class="card bg-dark text-light">
                <div class="card-header border-bottom border-primary">
                    <h2 class="mb-0 font-weight-bold">
                        <% if @event.attendees.exists? %>
                            Attendees
                        <% else %>
                            No Attendees Currently
                        <% end %>
                    </h2>
                </div>
                <ul class="list-group">
                    <%= render partial: "user", collection: @event.attendees, as: :attendee %>
                </ul>
            </div>
        </div>
    </div>
</div>